/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px black;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3557EB;
}

body {
  background-color: #C5DDD2;
  border-right: 2px solid #000;
}

header {
  position: fixed;
  margin-left: 1em;
  background-color: #C5DDD2;
  opacity: 90%;
}

.menu ul {
	list-style-type: none;
	justify-content:left;
	display:flex;
  padding: 1em;
  padding-top: 2em;

}
.menu li {
	text-align:left;
  margin-right: 2.3em;
  margin-left: 2.3em;
}

.menu a {
	color:#4F5CF6;
	text-decoration: none;
	padding: 1em;
	display: block; /*Hace que el enlace sea toda la caja*/
	padding: 0.2em;
}

.menu li:hover {
	text-decoration: underline;
  filter: blur(1px);
  transition: all 0.2s ease-in;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.top {
  text-align: center;
  grid-column: 1/3;
  padding: 1em;
  padding-top: 2em;
}

h1, h2, h3 {
display: block;
margin-bottom: 45px;
}


.texto1 {
  grid-column: 2;
  padding: 2em;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
}

.texto1bis {
  grid-column: 1;
  text-align: right;
  padding: 2em;
  border-right: 2px solid #000;
}

.wrapper img{
  justify-self: center;
   align-self: center;
   max-width: 300px;
}

h4 {
  grid-column: 1;
  display: block;
  margin-block-end: 1em;
  color: ;
  }

  p {
  display: block;
  }

#criminalité {
  text-align: center;
  padding :2em;
  border: 2px solid #000;
}

.texto2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2em;
}

.fictiongauche{
text-align: center;
grid-column: 1;
}

.fictioncentre{
text-align: center;
grid-column: 2;
}

.droite {
  text-align: left;
  grid-column: 3;
  padding-bottom: 30px;
}

.centre{
  text-align: left;
  grid-column: 2;
  padding-bottom: 30px;
}

.droite h5 {
padding-bottom: 45px;
}

.texto4 {
  display: block;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-right: 10%;
  padding-left: 10%;
  border: 2px solid #000;
}
.merci{
  text-align: center;
  padding:2em;
  border-bottom: 2px solid #000;
}

.wrapper2 {
  display: grid;
  grid-template-columns: 5fr 1fr;
}


.botonmenu img{
max-width: 100px;
}

.botonmenu ul {
	list-style-type: none;
  align-items:center;
	justify-content:space-around;
	display:flex;
}

.botonmenu a {
	color:black;
	text-decoration: none;
	display: block;
	padding: 0.5em;
  border-radius: 50%;
  border: 2px solid #0014FF;
}

.botonmenu a:hover {
	color:#0014FF;
  border: 3px;
  filter: blur(1px);
  transition: all 0.2s ease-in;
}

svg{
  grid-column: 2;
  max-width: 60px;
  margin-left: 15%;
  align-self:center;
  -webkit-animation-name: star;
      -webkit-animation-duration: 4000ms;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      -moz-animation-name: star;
      -moz-animation-duration: 4000ms;
      -moz-animation-iteration-count: infinite;
      -moz-animation-timing-function: linear;
      -ms-animation-name: star;
      -ms-animation-duration: 4000ms;
      -ms-animation-iteration-count: infinite;
      -ms-animation-timing-function: linear;

      animation-name: star;
      animation-duration: 4000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
  }
  @-ms-keyframes star {
      from { -ms-transform: rotate(0deg); }
      to { -ms-transform: rotate(360deg); }
  }
  @-moz-keyframes star {
      from { -moz-transform: rotate(0deg); }
      to { -moz-transform: rotate(360deg); }
  }
  @-webkit-keyframes star {
      from { -webkit-transform: rotate(0deg); }
      to { -webkit-transform: rotate(360deg); }
  }
  @keyframes star {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
  }

.copyright {
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
  border-top: 2px solid #000;
}

@media screen and (max-width: 800px) {

  header {
    position: relative;
  }

  .menu ul {
  	list-style-type: none;
  	justify-content:center;
  	display:flex;
    padding: 1em;
    padding-top: 2em;
  }

  .texto1 {
    grid-column: 1/3;
    text-align: center;
  }

.texto1bis{
  grid-column: 1/3;
  text-align: center;
  border-bottom: 2px solid #000;
}

.wrapper img{
  grid-column: 1/3;
}

.texto2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2em;
}

.fictioncentre{
text-align: center;
grid-column: 1;
}

.centre{
grid-column: 2/3;
}

.droite{
grid-column: 2;
}


  h4,{
    font-size: 25px;
  }
  .texto3 h5{
  font-size: 35px;
  padding: 1em;
  text-align: center;
  }

  .botonmenu a{
    font-size: 16px;
    font-family: 'Tinos', serif;
  }
}
