@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,400;1,500&display=swap');
body {
  font-family: 'Poppins', sans-serif;
}

a{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.menu a:hover{
  font-style: italic;
}

h1{
  font-size: 25px;
}

#entête , #entête2{
  font-size: 25px;
}

#entête{
  font-family: Aesthet Nova;
}

h2{
  font-size: 50px;
  font-family: 'Tinos', serif;
  line-height: 55px;
}

h3{
  font-size: 18px;
  font-family: 'Tinos', serif;
  font-style: italic;
  line-height: 1.8em;
}

.texto1 h4 span {
font-style: italic;
}

.texto4 span{
  font-style: italic;

}

.trio1 h5{
  font-family: Aesthet Nova;
  font-size: 25px;
}

.trio2 h5{
  font-family: Aesthet Nova;
  font-size: 25px;
}

h4 {
  font-size: 32px;
  font-family: Aesthet Nova;
  line-height: 1.4em;
  }

p {
  font-size: 16px;
  line-height: 2em;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  }

#criminalité {
  font-size: 26px;
  line-height: 40px;
  font-weight: 500;
}

#criminalité1 {
  font-size: 26px;
  line-height: 40px;
  font-weight: 400;
}

#criminalitébleue {
  font-size: 26px;
  line-height: 40px;
  font-weight: 500;
}

#criminalitéverte {
  font-size: 26px;
  line-height: 40px;
  font-weight: 500;
}

.biblioth p{
  font-size: 12px;
}


.droite , .gauche, .centre {
  font-size: 14px;
}

h5 {
  font-size: 45px;
  font-family: 'Tinos', serif;
  }

.texto3 h5{
  font-size: 48px;
  font-family: Aesthet Nova;
  color: black;
}

.wrapper3 p {
font-size: 18px;
}

.texto4 {
    font-size: 21px;
    line-height: 2em;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }

  .fictiongauche, .fictioncentre, .fictiondroite{
    font-size: 100px;
    font-family: Aesthet Nova;
    line-height: 1.4em;
  }

  h6{
    font-size: 22px;
    font-family: Aesthet Nova;
    color: #0169F8;
    }

    .texto1bis h1 {
      font-size: 28px;
      font-family: Aesthet Nova;
      color: #0169F8;
      line-height: 1.4em;
    }


    .texto2bis h1 {
      font-size: 28px;
      font-family: Aesthet Nova;
      color: #0169F8;
      line-height: 1.4em;
    }

    .botonmenu a{
      font-size: 30px;
      font-family: 'Tinos', serif;
    }
